@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.top-header {
    background-color: $color-gray;
    padding: 8px 0;
    ul {
        @include reset-list;
        &.account li:not(:first-of-type) {
            margin-left: 10px;
            position: relative;
            &:before {
                content: "";
                background-color: $color-white;
                width: 1px;
                height: 14px;
                position: absolute;
                top: 3px;
                left: 0;
            }
        }
        li, a {
            color: $color-white;
            font-size: 14px;
        }
        li:not(:first-of-type) {
            padding-left: 10px; 
        }
    }
}