@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import '../src/scss/variables.scss';

body {
    font-family: $font-family-roboto;
    font-size: 16px;
    font-weight: $regular;
    color: $color-black;
    background-color: $color-white;
}
.form-control {
    border-radius: 0;
    border-color: $color-gray;
    font-size: 14px;
    &::placeholder {
        color: #cccccc;
    }
}
.navbar-brand {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    padding: 0;
}
button, input, .form-control, .btn, btn {
    &:focus, &:hover {
        outline: none;
        box-shadow: none;
        border-color: inherit;
    }
}
input[type="search"] {
    border-right: 0;
}
input[type="search"] + .input-group-prepend>button {
    background-color: transparent;
    border-color: $color-gray;
    border-left: 0;
}
section {
    margin: 0 0 50px 0;
}

@media screen and (max-width: 991.98px) {
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}
