@import '../../scss/variables.scss';

header {
    background-color: #ffffff;
    margin: 0 0 50px 0;
    .navbar {
        padding: 0;
        background-color: $color-purple;
        a {
            color: $color-black;
        }
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
}
.nav-icon {
    width: 35px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    &:focus {
        border: none!important;
    }
}
.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.nav-icon span:nth-child(1) {
    top: 3px;
}
.nav-icon span:nth-child(2) {
    top: 13px;
}
.nav-icon span:nth-child(3) {
    top: 23px;
}
.nav-icon.open span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.nav-icon.open span:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media screen and (max-width: 991.98px) {
    header .navbar {
        padding: 10px 0;
        div.show {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 5px solid #ffffff;
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
}
