// font family list
$font-family-roboto: 'Roboto Condensed', sans-serif;

// font weight list
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// color code list
$color-gray: rgb(97,96,87);
$color-purple: rgb(241,235,221);
$color-white: rgb(247,245,238);
$color-black: rgb(32,32,32);